* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.game-container {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.range-container {
    text-align: center;
}

.cube-container {
    height: 900px;
    width: 900px;

    display: flex;
    flex-wrap: wrap;
}

.border {
    border: 1px solid;
}

button {
    height: 2rem;
    width: 5rem;
}